HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
APPLET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	TEXT-DECORATION: none
}
.clear {
	CLEAR: both
}
:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
BODY {
	FONT: 14px "Microsoft YaHei", 微软雅黑, Arial, Lucida Grande, Tahoma, sans-serif; BACKGROUND: #fff; COLOR: #000000
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #09f; TEXT-DECORATION: none
}
A IMG {
	webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out
}
A:hover IMG {
	FILTER: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6
}
#header {
	LINE-HEIGHT: 21px; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: #259be1; HEIGHT: 106px
}
#top-bar {
	FONT-FAMILY: "SimSun", "Arial Narrow"; MARGIN-BOTTOM: 0px; BACKGROUND: #222222; HEIGHT: 30px; COLOR: #bababa
}
#header2 {
	MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 70px
}
#main_nav2 {
	MARGIN: 0px auto; WIDTH: 980px
}
#main_nav {
	LINE-HEIGHT: 21px; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: #4fbbfc; HEIGHT: 38px; FONT-SIZE: 14px
}
#main {
	LINE-HEIGHT: 21px; MARGIN: 0px auto; WIDTH: 980px
}
#mainleft {
	MARGIN-TOP: 7px; WIDTH: 732px; FLOAT: left; OVERFLOW: hidden
}
#mainright {
	MARGIN-TOP: 5px; WIDTH: 245px; FLOAT: right; OVERFLOW: hidden
}
#index_flinks {
	MARGIN: 0px auto; WIDTH: 980px
}
#footer {
	MARGIN: 0px auto; WIDTH: 100%
}
.left-wrap {
	TEXT-ALIGN: left; WIDTH: 630px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 4px
}
.left-wrap A {
	MARGIN: 0px 8px; FONT-SIZE: 12px
}
#ghome {
	PADDING-LEFT: 20px; BACKGROUND: url(home.gif) no-repeat 0px 0px
}
#top-bar A {
	COLOR: #bababa
}
#top-bar A:hover {
	COLOR: #fff
}
.float {
	WIDTH: 245px
}
#logo {
	MARGIN-TOP: 8px; WIDTH: 173px; BACKGROUND: url(logo.png) no-repeat; FLOAT: left; HEIGHT: 60px
}
#logo H1 A {
	TEXT-INDENT: -9999px; WIDTH: 240px; DISPLAY: block; HEIGHT: 60px
}
#logo .blog_des {
	DISPLAY: none
}
.header_right {
	TEXT-ALIGN: center; MARGIN-TOP: 8px; WIDTH: 532px; MARGIN-BOTTOM: 3px; BACKGROUND: url(logo_d2.png) no-repeat; FLOAT: left; HEIGHT: 60px
}
#ad {
	FILTER: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0
}
#ad:hover {
	FILTER: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1
}
#header #contact {
	WIDTH: 213px; BACKGROUND: #222; FLOAT: right; HEIGHT: 24px; COLOR: #ccc; FONT-SIZE: 13px
}
#header #contact #text {
	WIDTH: 60px
}
#header #contact LI A {
	MARGIN-TOP: 2px; TEXT-INDENT: -9999px; WIDTH: 16px; DISPLAY: block; BACKGROUND: url(contact.gif) no-repeat; HEIGHT: 16px; MARGIN-RIGHT: 5px
}
#header #contact LI#sina A {
	BACKGROUND-POSITION: 0px 0px
}
#header #contact LI#tqq A {
	BACKGROUND-POSITION: 0px -26px
}
#header #contact LI#rss A {
	BACKGROUND-POSITION: 0px -52px
}
#header #contact LI#qq A {
	BACKGROUND-POSITION: 0px -78px
}
#header #contact LI#tt A {
	BACKGROUND-POSITION: 0px -104px
}
#header #contact LI#bdyx A {
	WIDTH: 16px; BACKGROUND: url(bdyx.png) no-repeat; FLOAT: left; HEIGHT: 16px
}
#header #contact LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 190%; DISPLAY: inline; FLOAT: left; HEIGHT: 24px; MARGIN-RIGHT: 4px; PADDING-TOP: 5px
}
#header #contact LI IMG {
	MARGIN-TOP: 2px
}
#header #searchbar {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 236px; PADDING-RIGHT: 0px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 22px
}
#searchbar INPUT#searchTextbox {
	BORDER-BOTTOM: #333 1px solid; BORDER-LEFT: #333 1px solid; PADDING-LEFT: 5px; WIDTH: 195px; BACKGROUND: #eee; FLOAT: left; HEIGHT: 20px; COLOR: rgb(90,90,90); BORDER-TOP: #333 1px solid; BORDER-RIGHT: #333 1px solid; PADDING-TOP: 5px
}
#searchbar BUTTON#gm_act_sbtn {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; TEXT-INDENT: -10000px; WIDTH: 28px; BACKGROUND: url(button_bg.gif) no-repeat; FLOAT: left; HEIGHT: 28px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
#main_nav {
	HEIGHT: 36px
}
#main_nav LI {
	BORDER-LEFT: #68c3fa 1px solid; FLOAT: left; HEIGHT: 36px; FONT-WEIGHT: bold; BORDER-RIGHT: #45a2db 1px solid
}
#main_nav LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: block; COLOR: #fff; PADDING-TOP: 0px
}
#main_nav LI A:link {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: block; COLOR: #fff; PADDING-TOP: 0px
}
#main_nav LI A:visited {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: block; COLOR: #fff; PADDING-TOP: 0px
}
#main_nav LI A:hover {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#topnav LI A:active {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#main_nav LI.current A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.index_list_box {
	WIDTH: 710px; BACKGROUND: #fff; PADDING-TOP: 8px
}
.index_cat_title {
	BORDER-BOTTOM: rgb(79,187,252) 1px solid; MARGIN-TOP: -4px; WIDTH: 710px; DISPLAY: block; HEIGHT: 30px; BORDER-TOP: rgb(79,187,252) 3px solid
}
.index_cat_title H3 {
	LINE-HEIGHT: 30px; DISPLAY: block; FLOAT: left; HEIGHT: 30px
}
.index_cat_title H3 A {
	FONT-SIZE: 18px; FONT-WEIGHT: normal
}
.index_cat_title H3 A:hover {
	COLOR: #000; FONT-SIZE: 19px
}
.index_cat_title SPAN.cat_more {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #ffffff; FLOAT: right; HEIGHT: 30px; PADDING-TOP: 0px
}
.index_cat_title SPAN.cat_more A {
	DISPLAY: block
}
.index_list_first {
	MARGIN-TOP: 5px
}
.index_list_first LI {
	WIDTH: 340px; DISPLAY: block; FLOAT: right; HEIGHT: 85px; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
.index_list_first LI SPAN.index_img {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; DISPLAY: block; FLOAT: left; HEIGHT: 76px; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ccc 1px solid
}
.index_list_first LI H4 {
	TEXT-ALIGN: center; WIDTH: 222px; DISPLAY: block; FLOAT: right; HEIGHT: 20px; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: 700
}
.index_list_first LI SPAN.index_des {
	LINE-HEIGHT: 22px; WIDTH: 222px; DISPLAY: block; FLOAT: right; HEIGHT: 62px; COLOR: #4c4c4c; FONT-SIZE: 12px; OVERFLOW: hidden
}
.index_list {
	MARGIN-TOP: 0px
}
.index_list LI {
	BORDER-BOTTOM: #ccc 1px dotted; LINE-HEIGHT: 26px; WIDTH: 340px; DISPLAY: block; FLOAT: left; HEIGHT: 26px; MARGIN-RIGHT: 10px
}
.index_list LI A {
	LINE-HEIGHT: 26px; PADDING-LEFT: 8px; WIDTH: 270px; DISPLAY: block; BACKGROUND: url(internet-list.png) no-repeat 0px 11px; FLOAT: left; HEIGHT: 26px; OVERFLOW: hidden
}
.index_list LI SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 26px; WIDTH: 60px; DISPLAY: block; FLOAT: right; HEIGHT: 26px; COLOR: #666666; OVERFLOW: hidden
}
#picnews {
	WIDTH: 320px; DISPLAY: block; HEIGHT: 240px; OVERFLOW: hidden
}
#gallery {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; BORDER-LEFT: #eee 1px solid; HEIGHT: 240px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
#gallery A {
	POSITION: absolute; FLOAT: left
}
#gallery A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#gallery A.show {
	Z-INDEX: 500
}
#gallery .caption {
	Z-INDEX: 600; POSITION: absolute; BACKGROUND-COLOR: #000000; WIDTH: 100%; BOTTOM: 0px; HEIGHT: 100px; COLOR: #ffffff
}
#gallery .caption .content {
	MARGIN: 5px
}
#gallery .caption .content H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #3a6ca4; PADDING-TOP: 0px
}
#sidepic {
	WIDTH: 370px; DISPLAY: block; FLOAT: right; HEIGHT: 240px
}
#sidepic H3 {
	BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 6px; WIDTH: 360px; DISPLAY: block; MARGIN-BOTTOM: 5px; HEIGHT: 18px; COLOR: #3a6ca4; FONT-SIZE: 16px; OVERFLOW: hidden
}
#sidepic H3 IMG {
	MARGIN-BOTTOM: -1px
}
#sidepic H3 A {
	PADDING-LEFT: 4px; COLOR: rgb(231,120,0)
}
#sidepic H3 A:hover {
	PADDING-LEFT: 4px; COLOR: #0cf
}
#sidepic LI {
	BORDER-BOTTOM: #ccc 1px dotted; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; WIDTH: 360px; DISPLAY: block; BACKGROUND: url(internet-list.png) no-repeat 0px 13px; HEIGHT: 26px; OVERFLOW: hidden
}
.ad300px {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ddd 1px solid; MARGIN-TOP: 5px; WIDTH: 250px; BACKGROUND: #f2f2f2; FLOAT: right; HEIGHT: 246px; OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.ad245px {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ddd 1px solid; WIDTH: 243px; MARGIN-BOTTOM: 10px; BACKGROUND: #f2f2f2; FLOAT: right; OVERFLOW: hidden; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.ad970px {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; WIDTH: 980px; MARGIN-BOTTOM: 5px; BACKGROUND: #f2f2f2
}
.ad710px {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; WIDTH: 714px; OVERFLOW: hidden
}
.list_box {
	WIDTH: 710px
}
.list_box .list_log {
	BORDER-BOTTOM: rgb(129,208,255) 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 2em; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; WIDTH: 710px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #fff; HEIGHT: 124px; FONT-SIZE: 13px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.list_box .list_log SPAN.list_imgt {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; WIDTH: 160px; DISPLAY: block; FLOAT: left; HEIGHT: 120px; BORDER-TOP: #eee 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #eee 1px solid
}
.list_imgt  img{
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; WIDTH: 160px; DISPLAY: block; FLOAT: left; HEIGHT: 120px; BORDER-TOP: #eee 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #eee 1px solid
}
.list_box .list_log H4.index_title {
	TEXT-ALIGN: left; LINE-HEIGHT: 26px; WIDTH: 540px; DISPLAY: block; FLOAT: right; HEIGHT: 26px; FONT-SIZE: 15px; OVERFLOW: hidden; FONT-WEIGHT: 700
}
.list_box .list_log H4.index_title A {
	COLOR: rgb(0,92,192)
}
.list_box .list_log H4.index_title A:hover {
	COLOR: #0cf
}
.list_box .list_log SPAN.list_des {
	WIDTH: 540px; DISPLAY: block; FLOAT: right; HEIGHT: 74px; COLOR: #4c4c4c; OVERFLOW: hidden
}
.list_box .list_log SPAN.list_beta {
	LINE-HEIGHT: 16px; MARGIN-TOP: 3px; WIDTH: 540px; DISPLAY: block; FLOAT: right; HEIGHT: 16px; COLOR: #666666; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px dashed; PADDING-TOP: 3px
}
#sidebar {
	
}
#sidebar LI {
	PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f8f8f8; PADDING-TOP: 0px
}
#sidebar LI H3 {
	LINE-HEIGHT: 32px; DISPLAY: block; MARGIN-BOTTOM: 5px; BACKGROUND: rgb(79,187,252); COLOR: rgb(0,112,139); FONT-SIZE: 16px; FONT-WEIGHT: normal
}
#sidebar LI H3.wtitle {
	PADDING-LEFT: 3px; COLOR: #fff; FONT-WEIGHT: normal
}
#sidebar LI H3 SPAN.selected {
	PADDING-LEFT: 3px; COLOR: #fff; FONT-WEIGHT: normal
}
.hide {
	DISPLAY: none
}
#sidebar LI UL {
	MARGIN-LEFT: 5px
}
#sidebar LI UL LI {
	BORDER-BOTTOM: #ddd 1px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 23px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 19px; OVERFLOW: hidden; PADDING-TOP: 5px
}
#sidebar LI TABLE {
	TEXT-ALIGN: center; WIDTH: 100%
}
.day {
	COLOR: #be0000
}
.day2 A {
	COLOR: #3a6ca4; FONT-WEIGHT: 700
}
.color1 A {
	COLOR: #ff3030
}
.color2 A {
	COLOR: #ff1199
}
.color3 A {
	COLOR: #aaff22
}
.color4 A {
	COLOR: #aa1199
}
.color5 A {
	COLOR: #9933cc
}
.color6 A {
	COLOR: #a0522d
}
.color7 A {
	COLOR: #7cfc00
}
.color8 A {
	COLOR: #228b22
}
.color9 A {
	COLOR: #00ff00
}
.color10 A {
	COLOR: #333333
}
.color11 A {
	COLOR: #ff0000
}
.color12 A {
	COLOR: #00ff00
}
.color13 A {
	COLOR: #0000ff
}
#sidebar LI UL#twitter P {
	TEXT-ALIGN: right; COLOR: #666666
}
#sidebar LI UL#twitter P A {
	COLOR: #666666
}
#sidebar LI UL#newcomment LI.wcomment {
	WIDTH: 215px; DISPLAY: block; HEIGHT: 42px; OVERFLOW: hidden
}
#sidebar LI UL#newcomment LI.wcomment .w_avatar {
	BORDER-BOTTOM: #cccccc 1px dashed; BORDER-LEFT: #cccccc 1px dashed; WIDTH: 40px; FLOAT: left; HEIGHT: 40px; BORDER-TOP: #cccccc 1px dashed; MARGIN-RIGHT: 5px; BORDER-RIGHT: #cccccc 1px dashed
}
#sidebar LI UL#record LI {
	WIDTH: 100px; FLOAT: left
}
#sidebar LI UL#link LI {
	WIDTH: 100px; DISPLAY: block; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
#sidebar .wform {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 200px; BACKGROUND: #ffffff; HEIGHT: 26px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#sidebar .winput {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 160px; HEIGHT: 20px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#sidebar .wsubmit {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; WIDTH: 30px; BACKGROUND: #ffffff; HEIGHT: 26px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.t_img {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: url(img.gif) no-repeat; PADDING-TOP: 0px
}
#index_flinks H4 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; FONT-SIZE: 16px; BORDER-TOP: rgb(50,191,226) 2px solid; PADDING-TOP: 2px
}
#index_flinks .inerf {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; PADDING-TOP: 5px
}
#index_flinks .inerf A {
	PADDING-BOTTOM: 0px; MARGIN: 0px 12px 2px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; DISPLAY: block; FLOAT: left; PADDING-TOP: 0px
}
#index_flinks UL LI {
	LINE-HEIGHT: 23px; MARGIN: 0px; WIDTH: auto; FLOAT: left
}
#loc {
	BORDER-BOTTOM: rgb(221,221,221) 1px solid; POSITION: relative; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 6px; WIDTH: 710px; PADDING-RIGHT: 7px; BORDER-TOP: rgb(221,221,221) 1px solid; PADDING-TOP: 5px
}
.navigation {
	TEXT-ALIGN: right; MARGIN: 5px 0px; WIDTH: 700px; FLOAT: right
}
.pages {
	LINE-HEIGHT: 30px;
	float: right;
}
.pages A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px 2px 2px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; COLOR: #787878; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.pages UL LI {
MARGIN: 0px; WIDTH: auto; FLOAT: left}
.pages EM {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px 2px 2px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; COLOR: #787878; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.pages A:hover {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND: #0196e3; COLOR: #fff; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.pages SPAN {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px 2px 2px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #0196e3; COLOR: #ffffff; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
#art_box  LI{
	PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px; PADDING-LEFT: 10px; WIDTH: 710px; PADDING-RIGHT: 10px; BACKGROUND: #fff; PADDING-TOP: 12px
}
#fenxiang {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 45%; WIDTH: 105px; PADDING-TOP: 5px
}
#art_box IMG {
	BORDER-BOTTOM: rgb(233,233,233) 1px solid; BORDER-LEFT: rgb(233,233,233) 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-TOP: rgb(233,233,233) 1px solid; BORDER-RIGHT: rgb(233,233,233) 1px solid; PADDING-TOP: 6px
}
H2.art_title {
	TEXT-ALIGN: center; LINE-HEIGHT: 36px; MARGIN-BOTTOM: 12px; COLOR: #222; FONT-SIZE: 24px
}
SPAN.art_beta {
	BORDER-BOTTOM: #cccccc 1px dashed; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20px; DISPLAY: block; MARGIN-BOTTOM: 5px; HEIGHT: 20px; COLOR: #999999
}
SPAN.art_beta A {
	COLOR: #999999
}
SPAN.art_content {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 26px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333333; FONT-SIZE: 16px !important; PADDING-TOP: 5px
}
SPAN.art_content UL {
	BORDER-BOTTOM: #f2f2f2 1px solid; BORDER-LEFT: #3a6ca4 2px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid; PADDING-TOP: 10px
}
SPAN.art_content OL {
	BORDER-BOTTOM: #f2f2f2 1px solid; BORDER-LEFT: #3a6ca4 2px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid; PADDING-TOP: 10px
}
SPAN.art_content BLOCKQUOTE {
	BORDER-BOTTOM: #f2f2f2 1px solid; BORDER-LEFT: #3a6ca4 2px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid; PADDING-TOP: 10px
}
SPAN.art_content CODE {
	BORDER-BOTTOM: #f2f2f2 1px solid; BORDER-LEFT: #3a6ca4 2px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; MARGIN: 10px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #f2f2f2 1px solid; BORDER-RIGHT: #f2f2f2 1px solid; PADDING-TOP: 10px
}
SPAN.art_content UL:hover {
	BORDER-BOTTOM: #113355 1px solid; BORDER-LEFT: #113355 2px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #113355 1px solid; BORDER-RIGHT: #113355 1px solid
}
SPAN.art_content OL:hover {
	BORDER-BOTTOM: #113355 1px solid; BORDER-LEFT: #113355 2px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #113355 1px solid; BORDER-RIGHT: #113355 1px solid
}
SPAN.art_content BLOCKQUOTE:hover {
	BORDER-BOTTOM: #113355 1px solid; BORDER-LEFT: #113355 2px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #113355 1px solid; BORDER-RIGHT: #113355 1px solid
}
SPAN.art_content CODE:hover {
	BORDER-BOTTOM: #113355 1px solid; BORDER-LEFT: #113355 2px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #113355 1px solid; BORDER-RIGHT: #113355 1px solid
}
SPAN.art_content UL {
	LIST-STYLE-POSITION: inside
}
SPAN.art_content OL {
	LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: decimal-leading-zero
}
SPAN.art_content CODE {
	TEXT-INDENT: 0px; DISPLAY: block
}
SPAN.art_content BLOCKQUOTE {
	TEXT-INDENT: 0px; DISPLAY: block
}
SPAN.art_info {
	BORDER-BOTTOM: #cccccc 1px dashed; BORDER-LEFT: #cccccc 1px dashed; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BORDER-TOP: #cccccc 1px dashed; BORDER-RIGHT: #cccccc 1px dashed; PADDING-TOP: 5px
}
SPAN.art_pre_next {
	MARGIN-TOP: 5px; DISPLAY: block
}
SPAN.art_related {
	
}
#art_about {
	PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px; PADDING-LEFT: 10px; WIDTH: 710px; PADDING-RIGHT: 10px; BACKGROUND: #fff; PADDING-TOP: 12px
}
#art_about H3 {
	BORDER-BOTTOM: rgb(79,187,252) 1px solid; LINE-HEIGHT: 16px; DISPLAY: block; MARGIN-BOTTOM: 5px; HEIGHT: 18px; FONT-SIZE: 14px
}
#art_about SPAN.about_left {
	WIDTH: 330px; DISPLAY: block; FLOAT: left; HEIGHT: 280px; OVERFLOW: hidden
}
#art_about SPAN.about_left LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; HEIGHT: 280px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#art_about SPAN.about_left IMG {
	BORDER-BOTTOM: #cccccc 1px dashed; BORDER-LEFT: #cccccc 1px dashed; PADDING-BOTTOM: 0px; MARGIN: 1px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; HEIGHT: 76px; BORDER-TOP: #cccccc 1px dashed; BORDER-RIGHT: #cccccc 1px dashed; PADDING-TOP: 0px
}
#art_about SPAN.about_right {
	WIDTH: 330px; DISPLAY: block; FLOAT: right; OVERFLOW: hidden
}
#art_about SPAN.about_right LI {
	BORDER-BOTTOM: #eeeeee 1px dashed; LINE-HEIGHT: 23px; MARGIN: 0px; WIDTH: 330px; HEIGHT: 24px; OVERFLOW: hidden
}
.comment_header {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.comment {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; LIST-STYLE-TYPE: none; MARGIN: 10px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.comment_f {
	BACKGROUND: #ffffff
}
.com_l1 {
	BACKGROUND: #f9f9f9
}
.com_l2 {
	BACKGROUND: #f0f0f0
}
.com_l3 {
	BACKGROUND: #e9e9e9
}
.com_l4 {
	BACKGROUND: #e3e3e3
}
.com_l5 {
	BACKGROUND: #d9d9d9
}
.avatar {
	MARGIN: 0px 10px 0px 0px; WIDTH: 48px; FLOAT: left; HEIGHT: 48px
}
.comment-info {
	LINE-HEIGHT: 23px
}
.comment-time {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #b2b2b2; PADDING-TOP: 0px
}
.comment-content {
	
}
.comment-reply A:hover {
	COLOR: #0196e3
}
.comment-children {
	MARGIN-LEFT: 20px
}
#comnavi SPAN {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 16px; MARGIN: 5px; WIDTH: 16px; DISPLAY: block; FLOAT: left; HEIGHT: 16px; FONT-SIZE: 12px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#comnavi A {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 16px; MARGIN: 5px; WIDTH: 16px; DISPLAY: block; FLOAT: left; HEIGHT: 16px; FONT-SIZE: 12px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#comnavi EM {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 16px; MARGIN: 5px; WIDTH: 16px; DISPLAY: block; FLOAT: left; HEIGHT: 16px; FONT-SIZE: 12px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#comnavi SPAN {
	FONT-WEIGHT: 700
}
#comment-place {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; PADDING-LEFT: 10px; WIDTH: 710px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
#commentform {
	MARGIN: 10px 0px 0px 10px; WIDTH: 70%; COLOR: #868686
}
#commentform P {
	MARGIN: 5px 0px; COLOR: #000
}
#commentform LABEL {
	COLOR: #868686
}
#commentform INPUT {
	MARGIN: 5px 5px 1px 0px
}
#commentform INPUT:focus {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#commentform .commenttext {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 210px; PADDING-RIGHT: 3px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
#commentform .input {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 210px; PADDING-RIGHT: 3px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
#commentform P.imgcode {
	WIDTH: 285px
}
#commentform .input {
	FLOAT: left
}
#commentform IMG {
	WIDTH: 55px; FLOAT: right
}
#commentform TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; MARGIN: 15px 0px 0px; PADDING-LEFT: 4px; WIDTH: 550px; PADDING-RIGHT: 4px; HEIGHT: 120px; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
#commentform TEXTAREA:focus {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#commentform INPUT.submit {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; WIDTH: 560px; BACKGROUND: #3a6ca4; HEIGHT: 25px; COLOR: #ffffff; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #ccc 1px solid
}
#commentform .submit:hover {
	BACKGROUND: #ffffff; COLOR: #3a6ca4
}
.vinfo {
	FLOAT: left
}
.ad_com {
	WIDTH: 125px; FLOAT: right; HEIGHT: 125px
}
#trackback {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; PADDING-LEFT: 10px; WIDTH: 710px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
#trackback LI {
	BORDER-BOTTOM: #cccccc 1px dotted
}
#infooter {
	MARGIN: 5px auto; WIDTH: 980px; BORDER-TOP: #eee 1px solid
}
#footerlogo {
	FILTER: alpha(opacity=40); PADDING-BOTTOM: 0px; MARGIN-TOP: 6px; PADDING-LEFT: 0px; WIDTH: 130px; PADDING-RIGHT: 0px; BACKGROUND: url(logobt.png) no-repeat; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 55px; -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4
}
#gotop A {
	WIDTH: 122px; DISPLAY: block; BACKGROUND: url(btt.jpg) #069 no-repeat; HEIGHT: 152px
}
#gotop A:hover {
	opacity: 0.6
}
.footer {
	WIDTH: 100%; WORD-WRAP: break-word; BORDER-TOP: #069 1px solid
}
.li {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; PADDING-LEFT: 10px; WIDTH: 710px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.main_img {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.twauthor {
	DISPLAY: block; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.time {
	COLOR: #cccccc
}
.r LI {
	
}
.r LI .name {
	DISPLAY: block; FLOAT: left; FONT-WEIGHT: 700; MARGIN-RIGHT: 10px
}
.r LI .time {
	DISPLAY: block; FLOAT: left; COLOR: #cccccc; MARGIN-LEFT: 10px; MARGIN-RIGHT: 20px
}
.huifu {
	DISPLAY: none
}
.huifu TEXTAREA {
	BORDER-BOTTOM: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; WIDTH: 98%; HEIGHT: 60px; BORDER-TOP: #cccccc 1px dotted; BORDER-RIGHT: #cccccc 1px dotted
}
.bttome {
	FLOAT: right
}