<!--{subtemplate common/header_common}-->
<meta name="application-name" content="$_G['setting']['bbname']" />
<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
<!--{if $_G['setting']['portalstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" /><!--{/if}-->
<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
<!--{if $_G['setting']['groupstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" /><!--{/if}-->
<!--{if helper_access::check_module('feed')}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" /><!--{/if}-->
<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
<!--{/if}-->
<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
<!--{if widthauto()}-->
<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
<!--{/if}-->
<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
<!--{elseif $_G['basescript'] == 'portal'}-->
<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
<!--{/if}-->
<!--{if $_G['forum']['ismoderator']}-->
<script type="text/javascript" src="{$_G[setting][jspath]}forum_moderate.js?{VERHASH}"></script>
<!--{/if}-->
<script type="text/javascript" src="{$_G[setting][jspath]}modernizr.custom.js?{VERHASH}"></script>
<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
<!--{/if}-->
<link rel="stylesheet" href="$_G['style']['imgdir']/../../css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="$_G['style']['imgdir']/../../css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="$_G['style']['imgdir']/../../css/style.css" type="text/css" media="all">
<script type="text/javascript" src="{$_G[setting][jspath]}jquery-1.6.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}cufon-yui.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}cufon-replace.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}Vegur_700.font.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}Vegur_400.font.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}Vegur_300.font.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}atooltip.jquery.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}script.js"></script>
<script type="text/javascript" src="{$_G[setting][jspath]}tabs.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{$_G[setting][jspath]}html5.js"></script>
<style type="text/css">
    .box1 figure {behavior:url({$_G[setting][jspath]}PIE.htc)}
</style>
<![endif]-->
<!--[if lt IE 7]>
<div style='clear:both;text-align:center;position:relative'>
    <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
        <img src="http://www.theie6countdown.com/$_G['style']['imgdir']/../financer/upgrade.jpg" border="0" alt="" />
    </a>
</div>
<![endif]-->
</head>
<body id="page3">
<div class="body1">
<div class="main">
<!-- header -->
<header>
    <div class="wrapper">
        <h1><a href="/" id="logo">财经专家</a></h1>
        <nav>
            <ul id="top_nav">
                <li><a href="#"><img src="$_G['style']['imgdir']/../financer/top_icon1.gif" alt=""></a></li>
                <li><a href="#"><img src="$_G['style']['imgdir']/../financer/top_icon2.gif" alt=""></a></li>
                <li class="end"><a href="#"><img src="$_G['style']['imgdir']/../financer/top_icon3.gif" alt=""></a></li>
            </ul>
        </nav>
        <nav>
            <ul id="menu">
                <li>
                    <a href="http://bbs.zhongguohaogongsi.com/forum.php?mod=forumdisplay&fid=2">财经专家</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- / header -->
<!-- content -->
<article id="content" class="tabs">
    <div class="wrapper">
        <div class="box1">
            <div class="wrapper">
                <section class="col1">
                    <h2><strong>李</strong>专家</h2>
                    <div class="line1">
                        <figure class="left marg_right1"><img src="$_G['style']['imgdir']/../doodle/big/001.jpg" alt=""></figure>
                        <p class="pad_bot1">
                            财经专家
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <ul class="nav">
            <li><a href="#2003">2003</a></li>
            <li><a href="#2004">2004</a></li>
            <li><a href="#2005">2005</a></li>
            <li><a href="#2006">2006</a></li>
            <li><a href="#2007">2007</a></li>
            <li><a href="#2008">2008</a></li>
            <li><a href="#2009">2009</a></li>
            <li><a href="#2010">2010</a></li>
            <li class="selected"><a href="#2014">2014</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="box2">
            <div class="wrapper tab-content" id="2014">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2003">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2004">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2005">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2006">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2007">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2008">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2009">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
            <div class="wrapper tab-content" id="2010">
                <section class="col1">
                    <h4><span>文章1</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color2"><span>文章2</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>

                    <h4 class="color3"><span>文章3</span></h4>
                    <p class="pad_bot2"><strong>2014-09-14</strong></p>
                    <p class="pad_bot1">这是一篇文章</p>
                </section>
            </div>
        </div>
    </div>
</article>
<!-- / content -->
</div>
</div>

<script type="text/javascript">Cufon.now(); tabs.init();</script>
</html>